.movie-ratings-container{
    list-style: none;
}

.img-accept{
    width: 38px;
    vertical-align: middle;
}

.img-cancel{
    width: 38px;
    vertical-align: middle;
}


.fa-Star {
    stroke: black;
    stroke-width: 50px;
    color:white;
    padding-right:10px;
   
  
}

 .fa-halfStar{
    stroke:black;
    padding-right:10px;
    
 }
 .fa-filled{
    padding-right:10px;
 }

