
/* navbar */
.username {
    text-transform: capitalize;
    color:white;
}
.user-main-container{
    display: flex;
    justify-content: space-between;
}
.user-container{
width:80%;
margin-top: 2%;
}
.user-sidebar{
    background: #3c25c7;
    width: 15%;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
   
    padding-top: 5%;
}
.displayMovie-link,.view-rating-link{
    color: white;
    text-decoration: none;
    font-weight: bold;
   
}
.user-displayMovie{
    margin-bottom: 10px;
}

